{
  "presets": [
    ["env", { "targets": { "browsers": ["last 2 versions", "ie 11"] } }],
    "flow",
  ],
  "plugins": ["transform-async-generator-functions", "transform-class-properties", "transform-runtime", ["transform-builtin-extend", { "globals": ["Error"] }]]
}
